<form id="signup" method="post" action="/signup">
  <label for="firstName">First Name:</label>
  <input name="firstName" type="text" />
  <label for="lastName">Last Name:</label>
  <input name="lastName" type="text" />
  <label for="email">Email:</label>
  <input id="email" name="email" type="text" />
  <label for="password">Password:</label>
  <input id="password" name="password" type="password" />
  <input name="submit" type="submit" value="Signup" />
</form>
